# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BROLGA_RIGHT

config ZMK_KEYBOARD_NAME
	default "Brolga"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_BROLGA_LEFT || SHIELD_BROLGA_RIGHT

config ZMK_SPLIT
	default y

endif