# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_BROLGA_LEFT
	def_bool $(shields_list_contains,brolga_left)

config SHIELD_BROLGA_RIGHT
	def_bool $(shields_list_contains,brolga_right)
